name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Poetry
        run: pip install poetry

      - name: Install dependencies
        run: poetry install --no-interaction --no-ansi --no-root

      - name: Ruff
        run: poetry run ruff check .

      - name: Pytest
        env:
          DJANGO_SETTINGS_MODULE: project_run.settings.local
        run: poetry run pytest
